<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key><string>PSGroupSpecifier</string>
			<key>Title</key><string>Textures</string>
			<key>FooterText</key><string>Upscaled textures are made on this device from your copy of the game and stay here. Deleting them frees space; they are made again when a level needs them.</string>
		</dict>
		<dict>
			<key>Type</key><string>PSToggleSwitchSpecifier</string>
			<key>Title</key><string>Upscale textures</string>
			<key>Key</key><string>upscaled_textures</string>
			<key>DefaultValue</key><true/>
		</dict>
		<dict>
			<key>Type</key><string>PSTitleValueSpecifier</string>
			<key>Title</key><string>Upscaled textures</string>
			<key>Key</key><string>upscaled_textures_size</string>
			<key>DefaultValue</key><string>None</string>
		</dict>
		<dict>
			<key>Type</key><string>PSToggleSwitchSpecifier</string>
			<key>Title</key><string>Delete upscaled textures</string>
			<key>Key</key><string>delete_upscaled_textures</string>
			<key>DefaultValue</key><false/>
		</dict>
	</array>
</dict>
</plist>
